a{
	color:$link-color;
}

.btn{
	border-radius:$base-border-radius;
	font-weight:700;
	font-size:12px;
	text-transform:uppercase;
	font-family:$regular-font-name;
	letter-spacing:.5px;
	//primary buttons
	&.btn-primary{
		background:$link-color;
		border-color:$link-color;
		&:hover{
			@include button-hover($link-color);
		}
	}
	&.btn-secondary{
		background:white;
		border-color:$lightest-gray-color;
		color:$text-color;
		&:hover{
			border-color:shade($lightest-gray-color,90%);
		}
	}
	//alert buttons
	&.btn-danger{
		background:$danger-color;
		border-color:$danger-color;
		&:hover{
			@include button-hover($danger-color);
		}
	}
	&.btn-success{
		background:$success-color;
		border-color:$success-color;
		&:hover{
			@include button-hover($success-color);
		}
	}
	&.btn-warning{
		background:$warning-color;
		border-color:$warning-color;
		color:white;
		&:hover{
			@include button-hover($warning-color);
		}
	}
	//flat button
	&.btn-flat{
		background:transparent;
		border-color:white;
		color:$text-color;
		&:hover{
			@include button-hover(white);
		}
	}
	//link button
	&.btn-link{
		color:$link-color;
		&:hover{
			color:shade($link-color,10%);
		}
	}
	&.btn-icon{
		line-height:1;
		i{
			color:$lightest-gray-color;
			}
		&:hover, &:focus{
			i{
				color:shade($lightest-gray-color,90%);
			}	
		}
	}
	//white wire
	&.btn-outline-light{
		&:hover{
			color:$link-color;
		}
	}
	//white btn
	&.btn-light{
		color:$link-color;
		&:hover{
			background:transparent;
			color:white;
		}
	}
	//sizes
	&.btn-lg{
		padding:.8rem 1rem;
	}
	&.btn-scroll{
		color:rgba(255,255,255,.5);
		&:hover{
			color:rgba(255,255,255,1);
		}
		i{
			font-size:52px;
		}
	}
}